{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCM</title>
</head>
<style>
  table {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dcdcdc;
    text-align: center;
  }
  textarea {
    width: 100%;
    height: 15em;
  }


</style>
<body>

{% if login_session == 'insung' %}
<div class="container-fluid">
    <!-- 1일 기준 신규 접수 현황 -->
    <div class="row">
        <h2>신규 등록 현황_1일 기준</h2>
        <!--일별 견적 접수 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                신규 견적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ es_count }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--일별 발주 접수 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                신규 발주</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ or_count }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--일별 AS 접수 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                신규 AS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ as_count }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--일별 문의 접수 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                신규 문의</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ que_count }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 주간 / 월간 실적 현황 -->
    <div class="row"  style="float:left; width: 50%;">
        <h2 style="display:inline;">주간 실적 현황</h2>
        <!--주간 견적 실적-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                견적 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ es_week.total_price__sum|intcomma }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--주간 발주 실적-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                발주 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ or_week.total_price__sum|intcomma }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <h2 style="display:inline;">월간 실적 현황</h2>
         <!--월간 견적 실적-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                견적 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ es_month.total_price__sum|intcomma }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--월간 발주 실적-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                발주 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{ or_month.total_price__sum|intcomma }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 제품별 견적, 발주, as 월간 현황 -->
    <div class="row">
        <h2>제품별 견적, 발주, AS 월간 현황</h2>
        <!--월간 제품별 견적 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                견적 현황</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>제품명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for ep in es_num %}
                                    <tr>
                                        <td>{{ ep.product_name }}</td>
                                        <td>{{ ep.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--월간 제품별 발주 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                발주 접수</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>제품명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for or in or_num %}
                                    <tr>
                                        <td>{{ or.product_name }}</td>
                                        <td>{{ or.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--월간 제품별 AS 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                AS 현황</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>제품명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for as in as_num %}
                                    <tr>
                                        <td>{{ as.product_name }}</td>
                                        <td>{{ as.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

     <!-- 업체별 견적, 발주, as 월간 현황 -->
    <div class="row">
        <h2>업체별 견적, 발주, AS 월간 현황</h2>
        <!--월간 업체별 견적 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                견적 현황</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>업체명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for ep in es_cnum %}
                                    <tr>
                                        <td>{{ ep.cname }}</td>
                                        <td>{{ ep.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--월간 업체별 발주 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                발주 접수</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>업체명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for or in or_cnum %}
                                    <tr>
                                        <td>{{ or.cname }}</td>
                                        <td>{{ or.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--월간 업체별 AS 현황-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                AS 현황</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <table>
                                    <tr>
                                        <th>업체명</th>
                                        <th>수량</th>
                                    </tr>
                                    {% for as in as_cnum %}
                                    <tr>
                                        <td>{{ as.cname }}</td>
                                        <td>{{ as.count }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<table>

<h2>임시 메인 페이지</h2>
    <div>
        {% if messages %}
        {% for message in messages %}
        {{ message.message }}
        {% endfor %}
        {% endif %}
    </div>
</table>

{% endif %}


</body>
</html>
{% endblock %}