{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
    }
    tr.m:hover{
     background-color: #98bee0;
     cursor:pointer;
    }
    table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    }
    caption {
    caption-side: top;
    text-align: left;
    font-weight : bold;
    color : #2478FF;
    font-size : 21px;
    }
</style>



<!--검색창 부분-->
<div>
    <form action="{% url 'isscm:main_list' %}" method="GET">
        {% csrf_token %}
        <select name="search_sort" id="search_sort">
            <option value="main_title" id="main_title">견적명</option>
            <option value="product_name" id="product_name">제품명</option>
            <option value="requests" id="requests">요청사항</option>
            <option value="finish" id="finish">종결 여부</option>
            <option value="user_dept" id="user_dept">담당 팀</option>
            <option value="user_name" id="user_name">담당자</option>
            <option value="cname" id="cname">업체명</option>
            <option value="all" id="all">전체</option>
        </select>
        <input type="search"placeholder="검색"  class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<!--회사 아이디 일때 리스트-->
{% if login_session == 'insung' %}
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:5%">등록 일자</th>
            <th style="width:6%">마감 요청일자</th>
            <th style="width:5%">종료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">요청사항</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
            <th style="width:5%">담당자</th>
        </tr>
        </thead>
        <tbody>
        {% for list in page_obj %}
        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:main_detail' list.id %}'">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date|date:'Y-m-d' }}</td>
            {% endif %}
            <td>{{ list.end_date|date:'Y-m-d' }}</td>
            <td>{{ list.main_title }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.requests | truncatewords:10 }}</td>
            {% if list.total_price == None or list.total_price == 0 %}
            <td>    </td>
            {% else %}
            <td>{{ list.total_price|intcomma }}</td>
            {% endif %}
            {% if list.finish == None or list.user_dept == None %}
            <td>  </td>
            <td>  </td>
            <td>{{ list.user_name }}</td>
            {% else %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            <td>{{ list.user_name }} </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr><h2>등록 된 글이 없습니다.</h2></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>

{% else %}
<!--업체 아이디일때 리스트-->
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:5%">등록 일자</th>
            <th style="width:6%">마감 요청일자</th>
            <th style="width:5%">종료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">요청사항</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
            <th style="width:5%">담당자</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:main_detail' list.id %}'">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date|date:'Y-m-d' }}</td>
            {% endif %}
            <td>{{ list.end_date|date:'Y-m-d' }}</td>
            <td>{{ list.main_title }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.requests | truncatewords:10 }}</td>
            {% if list.total_price == None %}
            <td>    </td>
            {% else %}
            <td>{{ list.total_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            <td>{{ list.user_name }} </td>
        </tr>
        {% endfor %}

        {% else %}
        <tr><h2>등록 된 견적 글이 없습니다.</h2></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>
{% endif %}

<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}&search_sort={{search_sort}}">First</a>
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}&search_sort={{search_sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}&search_sort={{search_sort}}">Next</a>
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}&search_sort={{search_sort}}">Last</a>
    {%endif%}
</div>


<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'isscm:main_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">고객 접수 일자</option>
            <option value="rp_date" id="rp_date">마감 요청 일자</option>
            <option value="main_title" id="main_title">견적명</option>
            <option value="cname" id="cname">업체명</option>
            <option value="requests" id="requests">요청 사항</option>
            <option value="finish" id="finish">종결 여부</option>
            <option value="total_price" id="total_price">총 금액</option>
            <option value="user_dept" id="user_dept">담당 팀</option>
            <option value="user_name" id="user_name">담당자</option>
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:main_excel' %}?q={{ query }}&search_sort={{search_sort}}" style="color:white"><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>

    </form>
</div>
<hr style="border: 1px;">

<!--한달 이상 미처리 내역 -->
<div>
    <table class="board">
        <caption>한달 이상 미처리건 목록</caption>
        <thead>
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">등록 일자</th>
            <th style="width:9%">마감 요청일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">요청사항</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
            <th style="width:5%">담당자</th>
        </tr>
        </thead>
        <tbody>
        {% if over_date %}
        {% for list in over_date reversed %}
        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:main_detail' list.id %}'">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date |date:'Y-m-d' }}</td>
            {% endif %}
            <td>{{ list.main_title }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.requests | truncatewords:10 }}</td>
            {% if list.total_price == None %}
            <td>    </td>
            {% else %}
            <td>{{ list.total_price|intcomma }}</td>
            {% endif %}
            {% if list.finish == None or list.user_dept == None %}
            <td>  </td>
            <td>  </td>
            <td>  </td>
            {% else %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            <td>{{ list.user_name }} </td>
            {% endif %}
        </tr>

        {% endfor %}
        {% else %}
        <tr>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>



{% endblock %}