{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}

<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
        }
</style>



<!--검색창 부분-->
<div>
    <form action="{% url 'isscm:order_history_list' %}" method="GET">
        {% csrf_token %}
        <input type="search" placeholder="발주명 / 제품명 / 구분 / 업체명 / 담당 팀 검색 가능" class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%">순번</th>
            <th style="width:8%">접수 일자</th>
            <th style="width:8%">완료 일자</th>
            <th style="width:10%">발주 명</th>
            <th style="width:10%">제품명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">구분</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">의견</th>
            <th style="width:5%">담당 팀</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        <tr style="text-align:center;">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td><a href="*">{{ list.odtitle }}</a></td>
            <td>{{ list.product_name }}</td>
            <td>{{ list.quantity|intcomma }}</td>
            <td>{{ list.per_price|intcomma }}</td>
            <td>{{ list.total_price|intcomma }}</td>
            <td>{{ list.new_old }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.option | truncatewords:10}}</td>
            {% if list.user_dept == None %}
            <td>  </td>
            {% else %}
            <td>{{ list.user_dept }} </td>
            {% endif %}


        </tr>
        {% endfor %}

        {% else %}
        <tr>
        <tr><h2>등록 된 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>


<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}">First</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}">Next</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}">Last</a>
    {%endif%}
</div>

<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'isscm:order_history_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">접수 일자</option>
            <option value="rp_date" id="rp_date">완료 일자</option>
            <option value="odtitle" id="odtitle">발주명</option>
            <option value="product_name" id="product_name">제품명</option>
            <option value="new_old" id="new_old">구분</option>
            <option value="cname" id="cname">업체명</option>
            <option value="user_dept" id="user_dept">부서명</option>
            <option value="user_name" id="user_name">담당자</option>
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:order_excel' %}?query={{ query | urlencode }}" style="color:white" ><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>

    </form>
</div>

<br>
<br>
<hr style="border: 1px;">
<!--차트 부분-->
<div class="access-chart__card " style="float:left; width: 50%;">
    <div class="card__title">
        <h4 style="text-align : center; font-weight: bold;">주간 신규 / 기존 현황</h4>
    </div>
    <div class="card__chartWrapper">
        <canvas id="sheet_chart" width="800" height="300"></canvas>
    </div>
</div>




<!--주간, 월간 신규/기존 금액표 -->
<div class="col-xl-3 col-md-6 mb-4" style="float:right; width: 50%;">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;">
                        주간 팀별 신규 / 기존 현황
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <table style="text-align: center;">
                            <tr>
                                <th>담당 팀</th>
                                <th>신규</th>
                                <th>기존</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #A6A6A6;">영업 1팀</td>
                                <td>{{or_week1_new.total_price__sum|intcomma}}</td>
                                <td>{{or_week1_old.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #6799FF;">영업 2팀</td>
                                <td>{{or_week2_new.total_price__sum|intcomma}}</td>
                                <td>{{or_week2_old.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>합계</td>
                                <td>{{  or_week3_new.total_price__sum|intcomma }}</td>
                                <td>{{  or_week3_old.total_price__sum|intcomma }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;">
                        월간 팀별 발주 실적
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <table style="text-align: center;">
                            <tr>
                                <th>담당 팀</th>
                                <th>신규</th>
                                <th>기존</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #A6A6A6;">영업 1팀</td>
                                <td>{{or_month1_new.total_price__sum|intcomma}}</td>
                                <td>{{or_month1_old.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #6799FF;">영업 2팀</td>
                                <td>{{or_month2_new.total_price__sum|intcomma}}</td>
                                <td>{{or_month2_old.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>합계</td>
                                <td>{{  or_month3_new.total_price__sum|intcomma }}</td>
                                <td>{{  or_month3_old.total_price__sum|intcomma }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var sheet_chart = {{sheet_chart}}

  var sheet = document.getElementById('sheet_chart').getContext('2d');
var sheet_chart = new Chart(sheet, {
    type: 'pie',
    data:{
        labels: [ '신규', '기존' ],
        datasets: [{
            data: sheet_chart,
            backgroundColor: [
                "#f7323f",
                "#673ba7"
            ],
            borderWidth: 1
        }]
    }

});
</script>



{% endblock %}