{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
     #search_p, #search_l {
        margin:0 0 0 120px;
        display:inline-block;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
    }
    tr.m:hover{
     background-color: #98bee0;
     cursor:pointer;
    }
    table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    }
    caption {
    caption-side: top;
    text-align: left;
    font-weight : bold;
    color : #2478FF;
    font-size : 21px;
    }
    .board {
    min-width:700px;
    }
    @media screen and (max-width:768px) {
    /*normal*/
    .table-box {
    overflow-x:auto;
    }
    #search_p, #search_l {
        margin:0 auto;
        display:inline-block;
    }

</style>


<!--검색창 부분-->
<div class="container">
    <form action="{% url 'isscm:product_list' %}" method="GET" >
        {% csrf_token %}
        <div id="search_p">
            <select name="search_sort" id="search_sort">
                <option value="product_name" id="product_name">제품명</option>
                {% if login_session == 'insung' %}
                <option value="cname" id="cname">업체명</option>
                {% endif %}
                <option value="serial" id="serial">시리얼</option>
                <option value="m_title" id="m_title">메인 Title</option>
                <option value="user_name" id="user_name">담당자</option>
                <option value="all" id="all">전체(시리얼 제외)</option>
            </select>
            <input type="search"placeholder="검색"  name="q" value="{{ query }}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
        </div>
    </form>
    <form action="{% url 'isscm:product_list' %}" method="GET" >
        <div id="search_l">
            <select name="search_sort" id="search_sort">
                <option value="rg_date" id="rg_date">등록 일자</option>
            </select>
            <input type="text" placeholder="클릭하여 날짜 선택"  name="sdate" id="datepicker3">
            <input type="text" placeholder="클릭하여 날짜 선택"  name="edate" id="datepicker4">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
        </div>
    </form>
</div>
<br>
<!--제품관리 DB 리스트-->
<div class="table-box">
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:5%;">등록 일자</th>
            <th style="width:15%;">제품명</th>
            <th style="width:5%;">시리얼</th>
            <th style="width:5%;">현재 위치</th>
            <th style="width:5%;">상태</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        <tr class="m" style="text-align:center;" >
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date |date:'Y-m-d' }}</td>
            <td>{{ list.product_name }}</td>
            <td>{{ list.serial }}</td>
            <td>{{ list.current_location }}</td>
            <td>{{ list.status }}</td>
        </tr>
        {% endfor %}

        {% else %}
        {% endif %}
        </tbody>
    </table>
</div>

<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}&search_sort={{search_sort}}&sdate={{ sdate }}&edate={{ edate }}">First</a>
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}&search_sort={{search_sort}}&sdate={{ sdate }}&edate={{ edate }}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}&search_sort={{search_sort}}&sdate={{ sdate }}&edate={{ edate }}">Next</a>
    <a href="?q={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}&search_sort={{search_sort}}&sdate={{ sdate }}&edate={{ edate }}}">Last</a>
    {%endif%}
</div>
<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'isscm:pm_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">등록일자</option>
            <option value="product_name" id="product_name">제품명</option>
            <option value="serial" id="serial">시리얼</option>
            <option value="current_location" id="current_location">현재 위치</option>
            <option value="status" id="status">상태</option>
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:sub_list_excel' %}?q={{ query }}&search_sort={{search_sort}}&sdate={{ sdate }}&edate={{ edate }}" style="color:white"><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>
    </form>
</div>



{% endblock %}