{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px%;
        margin: 0 auto;
    }
    table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width : 100%;
    }
    caption {
    caption-side: top;
    text-align: left;
    font-weight : bold;
    color : #2478FF;
    font-size : 30px;
    }
    @media screen and (max-width:768px) {
    /*normal*/
    .table-box {
    overflow-x:auto;
    }
</style>

<script type="text/javascript">

  $(function () {
        $("#serial").autocomplete({
            source: '{% url 'isscm:searchPM' %}',
            minLength: 1,
             select: function( event, ui ) {
             console.log(ui)
            $("#product_name").val(ui.item.value);
            return false;
            }

    });
    });

</script>


{% if login_session == 'insung' %}
<div class="table-box">
    <form action="{% url 'isscm:product_modify' sub_detailView.id %}" method="post">
        {% csrf_token %}
        <table class="board">
            <thead>
            <tr class="header" style="text-align:center;">
                <th style="width:15%;">제품명</th>
                <th style="width:5%;">업체명</th>
                <th style="width:5%;">시리얼</th>
                <th style="width:5%;">생산 일자</th>
                <th style="width:5%;">출고 일자</th>
                <th style="width:5%;">SUB ID</th>
                <th style="width:5%;">수량</th>
            </tr>
            </thead>
            <tbody>
            <tr class="m" style="text-align:center;" >
                <!--<input type="hidden" value="{{ sub_detailView.product_name }}" name="product_name" id="product_name">
                <td>{{ sub_detailView.product_name }}</td>-->

                <td><input type="text" name="product_name" id="product_name" style="width: 100%; text-align:center;"
                           readonly required placeholder="시리얼 입력하여 제품명 등록 하세요."></td>
                <input type="hidden" value="{{ sub_detailView.cname }}" name="cname" id="cname">
                <td>{{ sub_detailView.cname }}</td>
                <td><input type="text" name="serial" id="serial" placeholder="시리얼 전체 입력 하세요." autofocus required></td>
                <td><input type="text" name="production_date" id="datepicker3" placeholder="클릭하여 날짜를 선택"></td>
                <td><input type="text" name="release_date" id="datepicker2" placeholder="클릭하여 날짜를 선택"></td>
                <td>{{ sub_detailView.id }}</td>
                <td>{{ sub_detailView.quantity }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:product_info_excel' %}?sid={{ sub_detailView.id }}" style="color:white" ><button type="button" class="btn btn-primary" >EXCEL DOWN</button></a>
        <input type="button" class="btn btn-primary" onclick="back();" value="목록으로">
        <input type="submit" value="품목 저장" class="btn btn-primary"  style="float: right;">
    </form>
</div>
{% else %}
<br>
<a href="{% url 'isscm:product_info_excel' %}?sid={{ sub_detailView.id }}" style="color:white" ><button type="button" class="btn btn-primary" >EXCEL DOWN</button></a>
<input type="button" class="btn btn-primary" onclick="location.href='{% url 'isscm:product_list' %}'" value="목록으로">
{% endif %}

<div class="table-box">

    <table class="board" >
        <caption>제품 정보</caption>
        <thead>
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:5%;">등록 일자</th>
            <th style="width:15%;">제품명</th>
            <th style="width:5%;">업체명</th>
            <th style="width:5%;">시리얼</th>
            <th style="width:5%;">생산 일자</th>
            <th style="width:5%;">출고 일자</th>
            <th style="width:5%;">보증 만료일</th>
            <th style="width:5%;">SUB ID</th>
            <th style="width:5%;">담당자</th>
            <th style="width:5%;">삭제</th>
        </tr>
        </thead>
        <tbody>

        {% for list in product_view %}
        <tr class="m" style="text-align:center;" >
            <td>{{ forloop.counter }}</td>
            <td>{{ list.rg_date | date:'Y-m-d' }}</td>
            <td>{{ list.product_name }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.serial }}</td>
            <td>{{ list.production_date| date:'Y-m-d'}}</td>
            <td>{{ list.release_date | date:'Y-m-d' }}</td>
            <td>{{ list.warranty | date:'Y-m-d' }}</td>
            <td>{{ list.s_id_id }}</td>
            <td>{{ list.user_name }}</td>
            {% if login_session == 'insung' %}
            <td><input type="button" value="delete" class="btn btn-primary" onclick="location.href='{% url 'isscm:product_delete' list.id  sub_detailView.id%}'"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}