<!DOCTYPE html>

<head>
<script type="text/javascript">
$(document).ready(function(){
    searchajax();
});

function searchajax(){
    $("#searchword").keyup(function(){
        var words = $("#searchword").val();
        if( words != ''){
            $.ajax({
                type: 'POST',
                url: '/isscm/searchData/',
                data: { searchwords : words},
                dataType: 'json',
                success: function(result){
                    if ( result.length > 0){
                        var str = ''
                        for (var i=0; i<result.length; i++){
                            str += '<span>'+ result[i].data + '</span><br/>';
                        }
                        $("#results").html(str);
                    } else{ $("#results").html(""); }
                },
                error: function(e) {console.log('error:' + e.status);}
            });
        } else{ $("#results").html(""); }
    });
}



</script>
</head>


<div id="search" class="tab_content">
<input type="text" id="searchword" style="width:300px;"/>
</div>
<div id="results"></div>
</body>
</html>