{% extends "base/base2.html" %}
{% block content %}

<html lang="en">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
    document.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            };
        }, true);

    $(function () {
      $("#product_name").autocomplete({
          source: '{% url 'isscm:searchData' %}',
          minLength: 1
       });
    });

 //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
    //콤마풀기
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }


</script>



<!--견적서 등록 페이지-->
<div class="container my-3">
    <form method="post" action="{% url 'isscm:sheet_insert' %}" name="myform" >
        {% csrf_token %}
        <div class="mb-3">
            <label for="estitle">견적명</label>
            <input type="text" class="form-control" name="estitle" id="estitle" autofocus>
        </div>
        <div class="mb-3">
            <label for="product_name">제품명</label>
            <input type="text" class="form-control" name="product_name" id="product_name" placeholder="필수 입력">
        </div>
        <div class="mb-3">
            <label for="quantity">수량</label>
            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="필수 입력" onkeyup="inputNumberFormat(this)">
        </div>

        <div class="mb-3">
            <label for="cname">업체명</label>
            <input type="text" class="form-control" name="cname" id="cname" value="{{ login_session }}" readonly>
        </div>
        <div class="mb-3">
            <label for="memo">비고</label>
            <textarea class="form-control" onkeydown="resize(this)" onkeyup="resize(this)" name="memo" id="memo"> </textarea>
        </div>


        <div >
            <button type="submit" class="btn btn-primary" onclick="alert('입력 완료')">제출</button>
        </div>

    </form>
</div>






{% endblock %}