{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
        }
</style>

<!--검색창 부분-->
<div>
    <form action="{% url 'isscm:searchResult' %}" method="GET">
        {% csrf_token %}
        <input type="search" placeholder="제품명 / 구분 / 업체명 / 종료 여부 검색 가능" class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<!--회사 아이디 일때 리스트-->
{% if login_session == 'insung' %}
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">제품명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">구분</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}

        <tr style="text-align:center;">
            <td>{{ forloop.counter }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td><a href="{% url 'isscm:sheet_detail' list.no %}">{{ list.estitle }}</a></td>
            <td>{{ list.quantity|intcomma }}</td>
            {% if list.per_price == none %}
            <td>0</td>
            {% else %}
            <td>{{ list.per_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.total_price|intcomma }}</td>
            <td>{{ list.new_old }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None or list.user_dept == None %}
            <td> </td>
            {% else %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            {% endif %}


        </tr>
        {% endfor %}

        {% else %}
        <tr>
        <tr><h2>등록 된 견적 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>

{% else %}
<!--업체 아이디일때 리스트-->
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            {% if login_session != 'insung' %}
            {% else %}
            <th style="width:5%">구분</th>
            {% endif %}
            <th style="width:10%">업체명</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">종료 여부</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        {% if list.cname == login_session %}
        <tr style="text-align:center;">
            <td>{{ forloop.counter }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td><a href="{% url 'isscm:sheet_detail' list.no %}">{{ list.estitle }}</a></td>
            <td>{{ list.quantity|intcomma }}</td>
            {% if list.per_price == none %}
            <td>0</td>
            {% else %}
            <td>{{ list.per_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.total_price|intcomma }}</td>

            {% if login_session != 'insung' %}
            {% else %}
            <td>{{ list.new_old }}</td>
            {% endif %}
            <td>{{ list.cname }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None %}
            <td> </td>
            {% else %}
            <td>{{ list.finish }}</td>
            {% endif %}

        </tr>
        {% endif %}
        {% endfor %}

        {% else %}
        <tr>
        <tr><h2>등록 된 견적 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>
{% endif %}

<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}">First</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}">Next</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}">Last</a>
    {%endif%}
</div>


<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'isscm:sheet_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">고객 접수 일자</option>
            <option value="rp_date" id="rp_date">회신 완료 일자</option>
            <option value="estitle" id="estitle">견적명</option>
            <option value="new_old" id="new_old">구분</option>
            <option value="cname" id="cname">업체명</option>
            <option value="finish" id="finish">종결 여부</option>
            {% if login_session == 'insung' %}
            <option value="user_dept" id="user_dept">부서명</option>
            {% endif %}
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
    </form>
</div>



<br>
<br>

{% if login_session == 'insung' %}
<div class="access-chart__card">
    <div class="card__title">
        <h4 style="text-align : center">팀별 처리 현황</h4>
    </div>
    <div class="card__chartWrapper">
        <canvas id="sheet_chart" width="800" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var sheet_chart = {{sheet_chart}}

  var sheet = document.getElementById('sheet_chart').getContext('2d');
var sheet_chart = new Chart(sheet, {
    type: 'pie',
    data:{
        labels: [ '영업1팀', '영업2팀' ],
        datasets: [{
            data: sheet_chart,
            backgroundColor: [
                "#f7323f",
                "#673ba7"
            ],
            borderWidth: 0
        }]
    }

});
</script>

{% endif %}

{% endblock %}