{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
    }
    tr.m:hover{
     background-color: #98bee0;
     cursor:pointer;
    }
    table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    }
    caption {
    caption-side: top;
    text-align: left;
    font-weight : bold;
    color : #2478FF;
    font-size : 21px;
    }
</style>



<!--검색창 부분-->
<div>
    <form action="{% url 'isscm:sheet_list' %}" method="GET">
        {% csrf_token %}
        <input type="search" placeholder="견적명 / 제품명 / 구분 / 업체명 / 종료 여부 검색 가능" class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<!--회사 아이디 일때 리스트-->
{% if login_session == 'insung' %}
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">구분</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
        </tr>
        </thead>
        <tbody>
        {% for list in page_obj %}
        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:sheet_detail' list.no %}'">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td>{{ list.estitle }}</td>
            <td>{{ list.quantity|intcomma }}</td>
            {% if list.per_price == none %}
            <td>0</td>
            {% else %}
            <td>{{ list.per_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.total_price|intcomma }}</td>
            <td>{{ list.new_old }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None or list.user_dept == None %}
            <td>  </td>
            <td>  </td>
            {% else %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
        <tr><h2>등록 된 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>

{% else %}
<!--업체 아이디일때 리스트-->
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            {% if login_session != 'insung' %}
            {% else %}
            <th style="width:5%">구분</th>
            {% endif %}
            <th style="width:10%">업체명</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">종료 여부</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        {% if list.cname == login_session %}

        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:sheet_detail' list.no %}'">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td>{{ list.estitle }}</td>
            <td>{{ list.quantity|intcomma }}</td>
            {% if list.per_price == none %}
            <td>0</td>
            {% else %}
            <td>{{ list.per_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.total_price|intcomma }}</td>

            {% if login_session != 'insung' %}
            {% else %}
            <td>{{ list.new_old }}</td>
            {% endif %}
            <td>{{ list.cname }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None %}
            <td> </td>
            {% else %}
            <td>{{ list.finish }}</td>
            {% endif %}

        </tr>

        {% endif %}
        {% endfor %}

        {% else %}
        <tr><h2>등록 된 견적 글이 없습니다.</h2></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>
{% endif %}

<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}">First</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}">Next</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}">Last</a>
    {%endif%}
</div>


<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'isscm:sheet_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">고객 접수 일자</option>
            <option value="rp_date" id="rp_date">회신 완료 일자</option>
            <option value="estitle" id="estitle">견적명</option>
            <option value="new_old" id="new_old">구분</option>
            <option value="cname" id="cname">업체명</option>
            <option value="finish" id="finish">종결 여부</option>
            {% if login_session == 'insung' %}
            <option value="user_dept" id="user_dept">부서명</option>
            {% endif %}
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:es_excel' %}?query={{ query | urlencode }}" style="color:white"><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>

    </form>
</div>
<hr style="border: 1px;">
{% if over_es %}
<div>
    <table>
        <caption>한달 이상 미처리건 목록</caption>
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">견적명</th>
            <th style="width:5%">수량</th>
            <th style="width:6%">개당 단가</th>
            <th style="width:9%">총 금액</th>
            <th style="width:5%">구분</th>
            <th style="width:10%">업체명</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">종료 여부</th>
            <th style="width:5%">담당 팀</th>
        </tr>
        {% for list in over_es reversed %}
        <tr class="m" style="text-align:center;" onclick="location.href='{% url 'isscm:sheet_detail' list.no %}'">
            <td>{{ forloop.counter }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td>{{ list.estitle }}</td>
            <td>{{ list.quantity|intcomma }}</td>
            {% if list.per_price == none %}
            <td>0</td>
            {% else %}
            <td>{{ list.per_price|intcomma }}</td>
            {% endif %}
            <td>{{ list.total_price|intcomma }}</td>
            <td>{{ list.new_old }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None or list.user_dept == None %}
            <td>  </td>
            <td>  </td>
            {% else %}
            <td>{{ list.finish }}</td>
            <td>{{ list.user_dept }} </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</div>
{% endif %}
<hr style="border: 1px;">
<!--차트 부분-->
{% if login_session == 'insung' %}
<div class="access-chart__card " style="float:left; width: 50%;">
    <div class="card__title">
        <h4 style="text-align : center; font-weight: bold;">주간 팀별 견적 현황</h4>
    </div>
    <div class="card__chartWrapper">
        <canvas id="sheet_chart" width="800" height="300"></canvas>
    </div>
</div>

<!--주간, 월간 실적현황 표-->
<div class="col-xl-3 col-md-6 mb-4" style="float:right; width: 50%;">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;">
                        주간 팀별 견적 현황
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <table style="text-align: center;">
                            <tr>
                                <th>담당 팀</th>
                                <th>견적</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #A6A6A6;">영업 1팀</td>
                                <td>{{es_week1.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #6799FF;">영업 2팀</td>
                                <td>{{es_week2.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>합계</td>
                                <td>{{  es_week3.total_price__sum|intcomma }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;">
                        월간 팀별 견적 현황
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <table style="text-align: center;">
                            <tr>
                                <th>담당 팀</th>
                                <th>견적</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #A6A6A6;">영업 1팀</td>
                                <td>{{es_month1.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; color: #6799FF;">영업 2팀</td>
                                <td>{{es_month2.total_price__sum|intcomma}}</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>합계</td>
                                <td>{{  es_month3.total_price__sum|intcomma }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--담당자별 현황-->
<div class="row" style="padding: 20px 0px 20px 20px; width: 100%;">
    <div class="col-xl-3 col-md-6 mb-4" style="float:left; width: 50%; ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            주간 담당자별 견적 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table style="text-align: center;">
                                <tr>
                                    <th>담당자</th>
                                    <th>실적</th>
                                </tr>
                                {% for es in es_cweek1_total %}
                                <tr>
                                    <td>{{ es.user_name }}</td>
                                    <td>{{ es.sum|intcomma }}</td>
                                </tr>
                                {% endfor %}
                                <tr style="font-weight: bold">
                                    <td>합계</td>
                                    <td>{{  es_cweek1_sum.total_price__sum|intcomma }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4" style="float:right; width: 50%;">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            월간 담당자별 견적 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table style="text-align: center;">
                                <tr>
                                    <th>담당자</th>
                                    <th>실적</th>
                                </tr>
                                {% for es in es_cmonth1_total %}
                                <tr>
                                    <td>{{ es.user_name }}</td>
                                    <td>{{ es.sum|intcomma }}</td>
                                </tr>
                                {% endfor %}
                                <tr style="font-weight: bold">
                                    <td>합계</td>
                                    <td>{{  es_cmonth1_sum.total_price__sum|intcomma }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var sheet_chart = {{sheet_chart}}

  var sheet = document.getElementById('sheet_chart').getContext('2d');
var sheet_chart = new Chart(sheet, {
    type: 'pie',
    data:{
        labels: [ '영업1팀', '영업2팀' ],
        datasets: [{
            data: sheet_chart,
            backgroundColor: [
                "#f7323f",
                "#673ba7"
            ],
            borderWidth: 1
        }]
    }

});
</script>

{% endif %}

{% endblock %}