{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
        }
</style>

<!--검색창 부분-->
<div>
    <form action="{% url 'question:searchResult' %}" method="GET">
        {% csrf_token %}
        <input type="search" placeholder="제품명 / 구분 / 업체명 / 종료 여부 검색 가능" class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<!--리스트 출력 부분-->
<div>
    <table class="board">
        <thead>

        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:8%">등록 일자</th>
            <th style="width:8%">업체명</th>
            <th style="width:10%">제목</th>
            <th style="width:5%">유형</th>
            <th style="width:15%">내용</th>
        </tr>
        </thead>
        <tbody>
        {% if page_obj %}
        {% if login_session == 'insung' %}
        {% for list in page_obj %}
        <tr style="text-align:center;">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            <td>{{ list.cname }}</td>
            {% if list.comm %}
            <td><a href="{% url 'question:que_detail' list.no %}">{{ list.title }} </a> <span style="color: red;">[{{ list.comm }}]</span></td>
            {% else %}
            <td><a href="{% url 'question:que_detail' list.no %}">{{ list.title }} </a></td>
            {% endif %}
            <td>{{ list.type }}</td>
            <td>{{ list.content | truncatewords:5}}</td>
        </tr>
        {% endfor %}
        {% else  %}
        {% for list in page_obj %}
        <tr style="text-align:center;">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            <td>{{ list.cname }}</td>
            {% if list.comm %}
            <td><a href="{% url 'question:que_detail' list.no %}">{{ list.title }} </a> <span>[{{ list.comm }}]</span></td>
            {% else %}
            <td><a href="{% url 'question:que_detail' list.no %}">{{ list.title }} </a></td>
            {% endif %}
            <td>{{ list.type }}</td>
            <td>{{ list.content | truncatewords:5}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% else %}
        <tr>
        <tr><h2>등록 된 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>


<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}">First</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}">Next</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}">Last</a>
    {%endif%}
</div>


<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'question:que_list' %}">
        <select name="sort" id="sort">
            <option value="rg_date" id="rg_date">고객 접수 일자</option>
            <option value="rp_date" id="rp_date">회신 완료 일자</option>
            <option value="estitle" id="estitle">견적명</option>
            <option value="new_old" id="new_old">구분</option>
            <option value="cname" id="cname">업체명</option>
            <option value="finish" id="finish">종결 여부</option>
            {% if login_session == 'insung' %}
            <option value="user_dept" id="user_dept">부서명</option>
            {% endif %}
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'isscm:es_excel' %}" style="color:white"><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>

    </form>
</div>

<br>
<br>

{% endblock %}