{% extends "base/base2.html" %}
{% block content %}
<style>
  table {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dcdcdc;
    text-align: center;
  }
  textarea {
    width: 100%;
    height: 15em;
  }


</style>

<div class="container my-3">
    <form method="post" action="#">
        {% csrf_token %}


        <div class="mb-3">
            <label for="cname">업체명</label>
            <input type="text" class="form-control" name="cname" id="cname" value="{{ detailView.cname }}" readonly>
        </div>
        <div class="mb-3">
            <label for="cuser">요청자 성함</label>
            <input type="text" class="form-control" name="cuser" id="cuser" value="{{ user_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="user_phone">연락처</label>
            <input type="text" class="form-control" name="user_phone" id="user_phone" value="{{ user_phone }}" readonly>
        </div>
        <div class="mb-3">
            <label for="rg_date">접수 일자</label>
            <input type="date" class="form-control" name="rg_date" id="rg_date" value="{{ detailView.rg_date | date:'Y-m-d' }}" readonly>
        </div>
        <div class="mb-3">
            <label for="rp_date">마감 요청 일자</label>
            <input type="date" class="form-control" name="rp_date" id="rp_date" value="{{ detailView.rg_date | date:'Y-m-d' }}" readonly>
        </div>
        <div class="mb-3">
            <label for="end_date">종료 일자</label>
            <input type="date" class="form-control" name="end_date" id="end_date" value="{{ detailView.end_date | date:'Y-m-d' }}" readonly>
        </div>
        <div class="mb-3">
            <label for="product_name">제품명</label>
            <input type="text" class="form-control" name="product_name" id="product_name" value="{{ detailView.product_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="quantity">수량</label>
            <input type="text" class="form-control" name="quantity" id="quantity" value="{{ detailView.quantity }}" readonly>
        </div>
        <div class="mb-3">
            <label for="serial">시리얼</label>
            <input type="text" class="form-control" name="serial" id="serial" value="{{ detailView.serial }}" readonly>
        </div>
        <div class="mb-3">
            <label for="site">현장 명</label>
            <input type="text" class="form-control" name="site" id="site" value="{{ detailView.site }}" readonly>
        </div>
        <div class="mb-3">
            <label for="symptom">증상</label>
            <input type="text" class="form-control" name="symptom" id="symptom" value="{{ detailView.symptom }}" readonly>
        </div>

        <div class="mb-3">
            <label for="memo">비고</label>
            <textarea class="form-control" name="memo" id="memo" style="resize: none;" readonly>{{ detailView.memo }}</textarea>
        </div>

        <div class="mb-3">
            <label for="option">의견</label>
            {% if detailView.option == None %}
            <textarea class="form-control" style="resize: none;" name="option" readonly> </textarea>
            {% else %}
            <textarea class="form-control" style="resize: none;" name="option" id="option"  readonly>{{ detailView.option }}</textarea>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="finish">종결 여부</label>
            <select name="finish" id="finish" disabled>
                {% if detailView.finish == None %}
                <option value="" selected> </option>
                {% else %}
                <option value="{{ detailView.finish }}">{{ detailView.finish }}</option>
                {% endif %}
            </select>
        </div>

        <div class="mb-3">
            <input type="button" class="btn btn-primary" onclick="location.href='{% url 'asregister:AsUploadFile' detailView.no %}'" value="파일 업로드">
            {% if upfile %}
            {% for file in upfile %}
            <input type="button" value="{{ file.title }}" class="btn btn-primary" disabled >
            {% endfor %}
            {% else %}
            <td>첨부 파일 없음</td>
            {% endif %}
        </div>
        <input type="button" class="btn btn-primary" onclick="location.href='{% url 'asregister:as_modify' detailView.no %}'" value="수정">
        {% if login_session == detailView.cname or login_session == 'insung' %}
        <input type="button" class="btn btn-primary" onclick="location.href='{% url 'asregister:as_delete' detailView.no %}'" value="삭제">
        {% endif %}
    </form>
</div>

{% endblock %}