{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<style>
    #paging{
        width:150px;
        margin:0 auto;
    }
    tr, td, th{
        border : 1px solid #dcdcdc;
        width : 350px;
        margin: 0 auto;
        }
    table {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    }
</style>

<!--검색창 부분-->
<div>
    <form action="{% url 'asregister:assearchResult' %}" method="GET">
        {% csrf_token %}
        <input type="search" placeholder="업체명 / 제품명 / 비고 / 종료 여부 검색 가능" class="form-control mr-sm-2" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search">검색</i></button>
    </form>
</div>

<!--회사 아이디 일때 리스트-->
{% if login_session == 'insung' %}
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:3%;">순번</th>
            <th style="width:8%">업체명</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">처리 완료 일자</th>
            <th style="width:25%">제품명</th>
            <th style="width:4%">수량</th>
            <th style="width:15%">비고</th>
            <th style="width:4%">완료 여부</th>
        </tr>
        </thead>
        <tbody>

        {% for list in page_obj %}
        <tr style="text-align:center;">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td><a href="{% url 'asregister:as_detail' list.no %}">{{ list.product_name }}</a></td>
            <td>{{ list.quantity }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None %}
            <td> </td>
            {% else %}
            <td>{{ list.finish }}</td>
            {% endif %}
        </tr>
        {% endfor %}

        {% else %}
        <tr>
        <tr><h2>등록 된 견적 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>

{% else %}
<!--업체 아이디일때 리스트-->
<div>
    <table class="board">
        <thead>
        {% if page_obj %}
        <tr class="header" style="text-align:center;">
            <th style="width:5%;">순번</th>
            <th style="width:10%">업체명</th>
            <th style="width:9%">고객 접수 일자</th>
            <th style="width:9%">회신 완료 일자</th>
            <th style="width:10%">제품명</th>
            <th style="width:4%">수량</th>
            <th style="width:15%">비고</th>
            <th style="width:5%">완료 여부</th>
        </tr>
        </thead>
        <tbody>



        {% for list in page_obj %}
        {% if list.cname == login_session %}


        <tr style="text-align:center;">
            <td>{{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}</td>
            <td>{{ list.cname }}</td>
            <td>{{ list.rg_date|date:'Y-m-d' }}</td>
            {% if list.rp_date == None %}
            <td> </td>
            {% else %}
            <td>{{ list.rp_date }}</td>
            {% endif %}
            <td><a href="{% url 'asregister:as_detail' list.no %}">{{ list.product_name }}</a></td>
            <td>{{ list.quantity }}</td>
            <td>{{ list.memo | truncatewords:10}}</td>
            {% if list.finish == None %}
            <td> </td>
            {% else %}
            <td>{{ list.finish }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}

        {% else %}
        <tr>
        <tr><h2>등록 된 글이 없습니다.</h2></tr>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<br>
{% endif %}

<!--페이징 부분-->
<div class = "container" id="paging">
    {#first previous#}
    {% if page_obj.has_previous %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page=1&sort={{sort}}">First</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.previous_page_number}}&sort={{sort}}">Previous</a>
    {% endif %}
    {# 3of4 #}
    <span>{{page_obj.number}}</span>
    <span>of</span>
    <span>{{page_obj.paginator.num_pages}}</span>
    {# Next Last #}
    {% if page_obj.has_next %}
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.next_page_number}}&sort={{sort}}">Next</a>
    <a href="?query={{ query }}&page_obj={{ page_obj }}&page={{page_obj.paginator.num_pages}}&sort={{sort}}">Last</a>
    {%endif%}
</div>

<!--정렬-->
<div class="col-4">
    <form method="GET" action="{% url 'asregister:as_list' %}">
        <select name="sort" id="sort">
            {% if login_session == 'insung' %}
            <option value="cname" id="cname">업체명</option>
            {% endif %}
            <option value="rg_date" id="rg_date">고객 접수 일자</option>
            <option value="rp_date" id="rp_date">회신 완료 일자</option>
            <option value="product_name" id="product_name">제품명</option>
            <option value="finish" id="finish">완료 여부</option>
            <option value="all" id="all">전체</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        <!--엑셀 다운로드-->
        <a href="{% url 'asregister:AS_excel' %}?query={{ query | urlencode }}" style="color:white"><button type="button" class="btn btn-primary">EXCEL DOWN</button></a>
    </form>
</div>

<br>
<br>
<hr style="border: 1px;">
<!--AS 제품별 주간, 월간 현황-->
<div class="row" style="padding: 20px 0px 20px 20px; width: 100%;">
    <div class="col-xl-3 col-md-6 mb-4" style="float:left; width: 50%; ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            주간 제품별 AS 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table>
                                <tr>
                                    <th>제품명</th>
                                    <th>수량</th>
                                </tr>
                                {% for as in as_wnum %}
                                <tr>
                                    <td>{{ as.product_name }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wnum_sum.quantity__sum }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4" style="float:right; width: 50%;">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            월간 제품별 AS 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table>
                                <tr>
                                    <th>제품명</th>
                                    <th>수량</th>
                                </tr>
                                {% for as in as_mnum %}
                                <tr>
                                    <td>{{ as.product_name }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_mnum_sum.quantity__sum }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}