{% extends "base/base2.html" %}
{% block content %}
{% load humanize %}
{% load filter %}
<script type="text/javascript">
  $(function () {
        $("#menu-excel").click(function () {
            $("#modal-excel").modal('show');
    });
         $('#modalclose').click(function(){
        $('#modal-excel').modal('hide');
    });

    });

  $(function() {
        $('#me').change(function() {
            const result = $('#me option:selected').val();
            if (result == 'FAN') {
                $('#f').show();
                $('#f').removeAttr("disabled");
                $('#f_com').show();
                $('#f_com').removeAttr("disabled");
            } else {
                $('#f').hide();
                $('#f').attr('disabled', 'disabled');
                $('#f_com').hide();
                $('#f_com').attr('disabled', 'disabled');
            }
            if (result == 'HDD') {
                $('#h').show();
                $('#h').removeAttr("disabled");
                 $('#h_com').show();
                $('#h_com').removeAttr("disabled");
            } else {
                $('#h').hide();
                $('#h').attr('disabled', 'disabled');
                $('#h_com').hide();
                $('#h_com').attr('disabled', 'disabled');
            }
            if (result == 'SSD') {
                $('#s').show();
                $('#s').removeAttr("disabled");
                $('#s_com').show();
                $('#s_com').removeAttr("disabled");
            } else {
                $('#s').hide();
                $('#s').attr('disabled', 'disabled');
                $('#s_com').hide();
                $('#s_com').attr('disabled', 'disabled');
            }
              if (result == 'LAN') {
                $('#l').show();
                $('#l').removeAttr("disabled");
                $('#l_com').show();
                $('#l_com').removeAttr("disabled");
            } else {
                $('#l').hide();
                $('#l').attr('disabled', 'disabled');
                $('#l_com').hide();
                $('#l_com').attr('disabled', 'disabled');
            }
              if (result == 'OS') {
                $('#o').show();
                $('#o').removeAttr("disabled");
                $('#o_com').show();
                $('#o_com').removeAttr("disabled");
            } else {
                $('#o').hide();
                $('#o').attr('disabled', 'disabled');
                $('#o_com').hide();
                $('#o_com').attr('disabled', 'disabled');
            }
              if (result == 'RAM') {
                $('#r').show();
                $('#r').removeAttr("disabled");
                $('#r_com').show();
                $('#r_com').removeAttr("disabled");
            } else {
                $('#r').hide();
                $('#r').attr('disabled', 'disabled');
                $('#r_com').hide();
                $('#r_com').attr('disabled', 'disabled');
            }
              if (result == '그래픽카드') {
                $('#g').show();
                $('#g').removeAttr("disabled");
                $('#g_com').show();
                $('#g_com').removeAttr("disabled");
            } else {
                $('#g').hide();
                $('#g').attr('disabled', 'disabled');
                $('#g_com').hide();
                $('#g_com').attr('disabled', 'disabled');
            }
              if (result == '메인보드') {
                $('#mi').show();
                $('#mi').removeAttr("disabled");
                $('#mi_com').show();
                $('#mi_com').removeAttr("disabled");
            } else {
                $('#mi').hide();
                $('#mi').attr('disabled', 'disabled');
                $('#mi_com').hide();
                $('#mi_com').attr('disabled', 'disabled');
            }
              if (result == '모니터') {
                $('#mo').show();
                $('#mo').removeAttr("disabled");
                $('#mo_com').show();
                $('#mo_com').removeAttr("disabled");
            } else {
                $('#mo').hide();
                $('#mo').attr('disabled', 'disabled');
                $('#mo_com').hide();
                $('#mo_com').attr('disabled', 'disabled');
            }
              if (result == '배터리') {
                $('#b').show();
                $('#b').removeAttr("disabled");
                $('#b_com').show();
                $('#b_com').removeAttr("disabled");
            } else {
                $('#b').hide();
                $('#b').attr('disabled', 'disabled');
                $('#b_com').hide();
                $('#b_com').attr('disabled', 'disabled');
            }
              if (result == '부팅/전원') {
                $('#p').show();
                $('#p').removeAttr("disabled");
                $('#p_com').show();
                $('#p_com').removeAttr("disabled");
            } else {
                $('#p').hide();
                $('#p').attr('disabled', 'disabled');
                $('#p_com').hide();
                $('#p_com').attr('disabled', 'disabled');
            }
              if (result == '케이블/포트') {
                $('#c').show();
                $('#c').removeAttr("disabled");
                 $('#c_com').show();
                $('#c_com').removeAttr("disabled");
            } else {
                $('#c').hide();
                $('#c').attr('disabled', 'disabled');
                $('#c_com').hide();
                $('#c_com').attr('disabled', 'disabled');
            }
              if (result == '기타') {
                $('#etc').show();
                $('#etc').removeAttr("disabled");
                $('#etc_com').show();
                $('#etc_com').removeAttr("disabled");
            } else {
                $('#etc').hide();
                $('#etc').attr('disabled', 'disabled');
                $('#etc_com').hide();
                $('#etc_com').attr('disabled', 'disabled');
            }
        });
    });

</script>


<span><input type="button" name="menu-excel" id="menu-excel" value="검색창" class="btn btn-primary" style="float:right;"> </span>


<!--AS 제품별 주간, 월간 현황-->
<div class="row" style="padding: 20px 0px 20px 20px; width: 100%;">
    <div class="col-xl-3 col-md-6 mb-4" style="float:left; width: 50%; " id="fdiv">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            주간 제품별 AS 접수 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table>
                                <tr>
                                    <th style="width: 90%">제품명</th>
                                    <th style="width: 10%">수량</th>
                                </tr>
                                {% for as in as_wnum %}
                                <tr>
                                    <td>{{ as.product_name }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wnum_sum.product_name__count }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4" style="float:right; width: 50%;" id="fdiv">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            월간 제품별 AS 접수 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table>
                                <tr>
                                    <th style="width: 90%">제품명</th>
                                    <th style="width: 10%">수량</th>
                                </tr>
                                {% for as in as_mnum %}
                                <tr>
                                    <td>{{ as.product_name }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_mnum_sum.product_name__count }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--주간-->
<div class="row" style="padding: 20px 0px 20px 20px; width: 100%;">
    <div class="col-xl-3 col-md-6 mb-4" style="float:left; width: 100%; " id="fdiv">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            주간 AS 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">품목</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_wle %}
                                <tr>
                                    <td>{{ as.la_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wle_sum.la_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">대분류</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_wme %}
                                <tr>
                                    <td>{{ as.me_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wme_sum.me_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">소분류</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_wsm %}
                                <tr>
                                    <td>{{ as.sm_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wsm_sum.sm_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">조치</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_wac %}
                                <tr>
                                    <td>{{ as.asaction }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_wac_sum.asaction__count }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--월간-->
<div class="row" style="padding: 20px 0px 20px 20px; width: 100%;">
    <div class="col-xl-3 col-md-6 mb-4" style="float:left; width: 100%; " id="fdiv">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-weight:bold; font-size: 21px;"  >
                            월간 AS 현황</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">품목</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_mle %}
                                <tr>
                                    <td>{{ as.la_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_mle_sum.la_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">대분류</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_mme %}
                                <tr>
                                    <td>{{ as.me_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_mme_sum.me_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">소분류</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_msm %}
                                <tr>
                                    <td>{{ as.sm_category }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_msm_sum.sm_category__count }}</td>
                            </table>
                            <hr style="border: 2px;">
                            <table style="width:100%">
                                <tr >
                                    <th style="width: 90%">조치</th>
                                    <th style="width: 10%">갯수</th>
                                </tr>
                                {% for as in as_mac %}
                                <tr>
                                    <td>{{ as.asaction }}</td>
                                    <td>{{ as.count }}</td>
                                </tr>
                                {% endfor %}
                                <td style="font-weight: bold">합계</td>
                                <td style="font-weight: bold">{{ as_mac_sum.asaction__count }}</td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal content -->
<div id="modal-excel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <i class="far fa-save mr-1"></i>
                    AS Report
                </h3>
                <button type="button" class="btn btn-default border" id="modalclose" style="float:right;">X</button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center toolbar-forms py-2">
                    <form action="{% url 'asregister:as_chart' %}" method="GET" >
                        {% csrf_token %}
                        <div>
                            <select name="search_sort" id="search_sort">
                                <option value="rg_date" id="rg_date">등록 일자</option>
                                <option value="rp_date" id="rp_date">마감 요청 일자</option>
                                <option value="end_date" id="end_date">종료 일자</option>
                            </select>
                            <input type="text" placeholder="클릭하여 날짜 선택"  name="sdate" id="datepicker3" required>
                            <input type="text" placeholder="클릭하여 날짜 선택"  name="edate" id="datepicker4" required>
                        </div>
                        <div class="mb-3" >
                            <lebel>검색 항목</lebel>
                            <table>
                                <thead>
                                <tr>
                                    <th width="20%">품목</th>
                                    <th width="20%">대분류</th>
                                    <th width="20%">소분류</th>
                                    <th width="20%">조치</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <select name="la" id="la" class="form-control" >
                                            {% if detailView.la_category != None %}
                                            <option value="{{ detailView.la_category }}" selected>{{detailView.la_category}}</option>
                                            {% else %}
                                            <option value="" selected></option>
                                            {% endif %}
                                            <option value="NAS">NAS</option>
                                            <option value="UPS">UPS</option>
                                            <option value="노트북">노트북</option>
                                            <option value="데스크탑">데스크탑</option>
                                            <option value="모니터">모니터</option>
                                            <option value="미니/슬림 PC">미니/슬림 PC</option>
                                            <option value="서버">서버</option>
                                            <option value="워크스테이션">워크스테이션</option>
                                            <option value="일체형 PC">일체형 PC</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="me" id="me" class="form-control">
                                            <option value="" selected></option>
                                            <option value="FAN">FAN</option>
                                            <option value="HDD">HDD</option>
                                            <option value="SSD">SSD</option>
                                            <option value="LAN">LAN</option>
                                            <option value="OS">OS</option>
                                            <option value="RAM">RAM</option>
                                            <option value="그래픽카드">그래픽카드</option>
                                            <option value="메인보드">메인보드</option>
                                            <option value="모니터">모니터</option>
                                            <option value="배터리">배터리</option>
                                            <option value="부팅/전원">부팅/전원</option>
                                            <option value="케이블/포트">케이블/포트</option>
                                            <option value="기타">기타</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="sm" id="f" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="FAN 불량">FAN 불량</option>
                                            <option value="FAN 소음">FAN 소음</option>
                                        </select>
                                        <select name="sm" id="h" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="HDD 불량">HDD 불량</option>
                                            <option value="HDD 소음">HDD 소음</option>
                                        </select>
                                        <select name="sm" id="l" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="LAN 성능저하">LAN 성능저하</option>
                                            <option value="LAN 카드 불량">LAN 카드 불량</option>
                                        </select>
                                        <select name="sm" id="o" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="OS 깨짐">OS 깨짐</option>
                                            <option value="OS 변경 요청">OS 변경 요청</option>
                                            <option value="OS 설치 요청">OS 설치 요청</option>
                                            <option value="OS 재설치 요청">OS 재설치 요청</option>
                                        </select>
                                        <select name="sm" id="r" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="RAM 불량">RAM 불량</option>
                                        </select>
                                        <select name="sm" id="s" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="SSD 불량">SSD 불량</option>
                                            <option value="SSD 소음 발생">SSD 소음 발생</option>
                                        </select>
                                        <select name="sm" id="g" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="그래픽 카드 불량">그래픽 카드 불량</option>
                                        </select>
                                        <select name="sm" id="etc" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="작동 중 멈춤">작동 중 멈춤</option>
                                            <option value="비프음 발생">비프음 발생</option>
                                            <option value="성능 저하">성능 저하</option>
                                            <option value="점검 요청">점검 요청</option>
                                            <option value="파일 백업 요청">파일 백업 요청</option>
                                            <option value="포맷 요청">포맷 요청</option>
                                        </select>
                                        <select name="sm" id="mi" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="메인보드 불량">메인보드 불량</option>
                                        </select>
                                        <select name="sm" id="mo" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="화면 깨짐">화면 깨짐</option>
                                            <option value="RGB 불량">RGB 불량</option>
                                            <option value="블루스크린 발생">블루스크린 발생</option>
                                        </select>
                                        <select name="sm" id="b" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="배터리 불량">배터리 불량</option>
                                        </select>
                                        <select name="sm" id="p" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="부팅 불량">부팅 불량</option>
                                            <option value="전원 불량">전원 불량</option>
                                            <option value="파워 어댑터 불량">파워 어댑터 불량</option>
                                        </select>
                                        <select name="sm" id="c" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="SATA 연결 불량">SATA 연결 불량</option>
                                            <option value="포트 불량">포트 불량</option>
                                            <option value="케이블 연결 불량">케이블 연결 불량</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="action" id="f_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="FAN 교체">FAN 교체</option>
                                            <option value="FAN 청소">FAN 청소</option>
                                        </select>
                                        <select name="action" id="h_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="HDD 교체">HDD 교체</option>
                                            <option value="HDD 재연결">HDD 재연결</option>
                                        </select>
                                        <select name="action" id="l_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="LAN 카드 교체">LAN 카드 교체</option>
                                            <option value="LAN 카드 재연결">LAN 카드 재연결</option>
                                        </select>
                                        <select name="action" id="o_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="OS 설치">OS 설치</option>
                                            <option value="OS 재설치">OS 재설치</option>
                                            <option value="포맷 완료">포맷 완료</option>
                                        </select>
                                        <select name="action" id="r_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="RAM 교체">RAM 교체</option>
                                            <option value="RAM 재연결">RAM 재연결</option>
                                        </select>
                                        <select name="action" id="s_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="SSD 교체">SSD 교체</option>
                                            <option value="SSD 재연결">SSD 재연결</option>
                                        </select>
                                        <select name="action" id="g_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="그래픽 카드 교체">그래픽 카드 교체</option>
                                            <option value="그래픽 카드 재연결">그래픽 카드 재연결</option>
                                        </select>
                                        <select name="action" id="etc_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="HP 방문 처리">HP 방문 처리</option>
                                            <option value="데이터 백업">데이터 백업</option>
                                            <option value="드라이버 재설치">드라이버 재설치</option>
                                            <option value="원복 완료">원복 완료</option>
                                            <option value="리포트 전달">리포트 전달</option>
                                            <option value="점검 완료">점검 완료</option>
                                        </select>
                                        <select name="action" id="mi_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="메인보드 교체">메인보드 교체</option>
                                            <option value="메인보드 재연결">메인보드 재연결</option>
                                        </select>
                                        <select name="action" id="mo_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="모니터 교체">모니터 교체</option>
                                        </select>
                                        <select name="action" id="b_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="배터리 불량">배터리 교체</option>
                                        </select>
                                        <select name="action" id="p_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="파워 어댑터 교체">파워 어댑터 교체</option>
                                            <option value="파워 교체">파워 교체</option>
                                            <option value="메인보드 교체">메인보드 교체</option>
                                        </select>
                                        <select name="action" id="c_com" style="display: none;" disabled class="form-control">
                                            <option value="" selected></option>
                                            <option value="SATA 교체">SATA 교체</option>
                                            <option value="SATA 재연결">SATA 재연결</option>
                                            <option value="케이블 교체">케이블 교체</option>
                                            <option value="케이블 재연결">케이블 재연결</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <input type="submit" class="btn btn-primary" id="reportbtn"  value="검색">

                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
            </div>
        </div>
    </div>
</div>
<!-- modal end -->









{% endblock %}